.text-danger{
    color: fuchsia; !important
}


.carousel-item img {
    width: 30rem;
    height: 40rem;
    margin: auto;
}

.card {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    width: 18rem;
}

.card img {
    height: 23rem;
}
